<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @author.slug %>
</p>

<%= link_to 'Edit', edit_admin_author_path(@author) %> |
<%= link_to 'Back', admin_authors_path %>
