<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @book.lead %>
</p>

<p>
  <strong>Excerpt:</strong>
  <%= @book.excerpt %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Cover type:</strong>
  <%= @book.cover_type %>
</p>

<p>
  <strong>Num pages:</strong>
  <%= @book.num_pages %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Buy link:</strong>
  <%= @book.buy_link %>
</p>

<p>
  <strong>Size:</strong>
  <%= @book.size %>
</p>

<p>
  <strong>Cover image:</strong>
  <%= @book.cover_image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @book.slug %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
